* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: #6E6E6E;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #E7E7E7;
}

.logo {
    margin-left: 60px;
    width: 147px;
    height: 52px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

.home {
    color: #0C1B2E;
}

nav a {
    color: #6E6E6E;
    text-decoration: none;
}

.request-call {
    margin-right: 60px;
    background: linear-gradient(219.84deg, #224A7D 4.14%, #0C1B2E 44.22%);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 78px;
    cursor: pointer;
}

.Container {
    background: linear-gradient(219.84deg, #224A7D 4.14%, #0C1B2E 44.22%);
    width: 1521px;
    height: 670px;
    display: flex;
}

.main {
    margin-top: 150px;
    margin-left: 50px;
    height: 350px;
    width: 700px;
    /*background-color: red;*/
    color: #FFFFFF;
    font-family: Poppins;
}

.main h1 {
    font-weight: 800;
     font-family: Poppins;
}

.text {
    margin-top: 10px;
    font-size: 1.3rem;
}

.search-bar {
    justify-content: space-evenly;
    width: 580px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    margin-top: 25px;
}

.search {
     width: 100%;
     font-size: 1.2rem;
     border: none;
     border-top-left-radius: 5px;
     border-end-start-radius: 5px;
}

.icon {
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #055BC7;
    border-top-right-radius: 5px;
     border-end-end-radius: 5px;
}

.data {
    margin-top: 50px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

.bgImage {
   width: 777px;
  height: 666px;
  /*border: 2px solid white;*/
  overflow: hidden;
}

.bgImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container2 {
   /* background-color: beige;*/
    width: 1520px;
    height: 580px;
}

.container2 h1 {
    margin-top: 50px;
    color: black;
    font-weight: 600;
    text-align: center;
     font-family: Poppins;
}

.container2 p {
    margin-top: 10px;
    font-family: poppins;
    text-align: center;
    color: #8C8C8C;
}

.images {
    margin-top: 30px;
    display: flex;
    overflow: hidden;
    object-fit: contain;
}

.image1 {
    width: 373px;
    height: 354px;
    /*border: 2px solid black;*/
}

.image2 {
    width: 373px;
    height: 354px;
    /*border: 2px solid black;*/
}

.image3 {
    width: 373px;
    height: 354px;
    /*border: 2px solid black;*/
}

.image4 {
    width: 373px;
    height: 354px;
    /*border: 2px solid black;*/
}

.container3 {
   /* background-color: burlywood;*/
    width: 1520px;
    height: 550px;
} 

.head {
     margin-top: 10px;
    font-family: poppins;
    text-align: center;
    color: #055BC7;
}

.container3 h1 {
    font-family: poppins;
    text-align: center;
    font-weight: 700;
}

.lorem {
     margin-top: 10px;
    font-family: poppins;
    text-align: center;
    color: #8c8c8c;
}

.template {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.template i {
    font-size: 30px;
    background-color: #055BC7;
    color: #e4e4e4;
    border-radius: 5px;
}

.template1 {
    width: 390px;
    height: 310px;
    text-align: center;
    border-radius: 10px;
    background-color: #EEF5FF;
    padding-top: 10px;
}

.pHead {
    font-size: large;
    color: black;
    padding-top: 30px;
}

.text{
    font-family: poppins;
    color: #8c8c8c;
    padding-top: 50px;
}


.template2 {
   width: 390px;
    height: 310px;
    text-align: center;
    border-radius: 10px;
    background-color: #EEF5FF;
    padding-top: 10px;
}

.template3 {
   width: 390px;
    height: 310px;
    text-align: center;
    border-radius: 10px;
    background-color: #EEF5FF;
    padding-top: 10px;
}

.container4 {
    background-color: #0C1B2E;
    width: 1520px;
    height: 660px;
}

.container4 h6 {
     margin-top: 30px;
    text-align: center;
    color: white;
    font-weight: 700;
}

.container4 h2 {
    margin-top: 30px;
    text-align: center;
    color: white;
}

.container4 p {
    margin-top: 30px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 23px;
}

.pouch {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    overflow: hidden;
}

.pouch img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pouch1 {
    width: 389px;
    height: 420px;
    text-align: center;
    border-radius: 10px;
    background-color: #EEF5FF;
    padding-top: 10px;
}

.pouch2 {
     width: 389px;
    height: 420px;
     text-align: center;
    border-radius: 10px;
    background-color: #EEF5FF;
    padding-top: 10px;
}

.pouch3 {
     width: 389px;
    height: 420px;
     text-align: center;
    border-radius: 10px;
    background-color: #EEF5FF;
    padding-top: 10px;
}

.container5 {
    width: 1520px;
    height: 430px;
    background-color: #ffffff;
    margin-top: 40px;
}

.container5 h1 {
    text-align: center;
    font-style: bold;
    font-size: 40px;
    font-weight: 700;
    color: #0C1B2E;
}

.container5 p {
    text-align: center;
    color: #8C8C8C;
     margin-top: 25px;

}

.wrap {
    margin-top: 30px;
    width: 1200px;
    height: 106px;
     display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
    background-color: #fff;
    color: #EEF5FF;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: #EEF5FF;
    color: #0C1B2E;
    border-radius: 5px;
    padding: 20px;
    font-size: 1rem;
}

.container6 {
    width: 1520px;
    height: 600px;
    background-color: #EEF5FF;
}

.container6 h1 {
    margin-top: 30px;
    text-align: center;
    font-weight: 700;
    font-style: bold;
    font-size: 60px;
}

.lorem2 {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #8C8C8C;
}

.image {
    width: 1200px;
    height: 430px;
    margin-left: 140px;
}

.image h3 {
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 100px;
    font-style: semiBold;
    color: #0C1B2E;
}

.image p {
    font-size: 18px;
    font-family: poppies;
    color: #0C1B2E;
    margin-top: 20px;
    margin-left:100px;
    font-weight: 600;
}